html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100%;
  position: relative;
  background-color: #373b42;
}

#map {
  height: 100%;
  left: 372px;
  right: 0px;
  bottom: 0px;
  position: absolute;
}

.search-panel {
  width: 350px;
  height: 100%;
  text-align: left;
  border: 1px solid black;
  padding: 10px 10px 0 10px;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 0 0 10px 0;
}

#search-box {
  width: 345px;
  height: 30px;
}

ul {
  padding-left: 0pt;
}

li {
  color: #4476ce;
  display: block;
  padding: 1.0em;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

li:hover {
  background-color: #5c5d60;
}
